<ul style="list-style-type:none">
<li>
  <span><a href="https://www.facebook.com/tatiana.gaponova" target="_blank"><i class="fa fa-facebook"></i></a></span>
</li>
<li>
  <span><a href="https://www.linkedin.com/in/tatiana-gaponova-3189891a" target="_blank"><i class="fa fa-linkedin"></a></i></span>
</li>
<li>
  <span><a href="https://www.instagram.com/baroquerock/" target="_blank"><i class="fa fa-instagram"></i></a></span>
</li>
<li>
  <span><a href="https://github.com/baroquerock" target="_blank"><i class="fa fa-github"></i></a></span>
</li>
</ul>
