<nav id="sidebar-icon-links">
    <a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="https://github.com/baroquerock">
      {% include svg/github.svg %}
    </a>
    <a id="linkedin-link"
       class="icon" title="Linkedin" aria-label="Linkedin"
       href="https://www.linkedin.com/in/tatiana-gaponova-3189891a/">
      {% include svg/linked.svg %}
    </a>
    <a id="instagram-link"
       class="icon" title="Instagram" aria-label="Instagram"
       href="https://www.instagram.com/baroquerock/">
      {% include svg/insta.svg %}
    </a>
    <a id="facebook-link"
       class="icon" title="Facebook" aria-label="Facebook"
       href="https://www.facebook.com/tatiana.gaponova">
      {% include svg/fb.svg %}
    </a>
</nav>
